<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BookshopApplication</title>
</head>
<body>
    <h1>Welcome to Bookshop!!!</h1>
    <h2>By Kacper Śniadek</h2>

    <form action="/" method="get">
        <button type="submit" class="btn btn-primary">Books</button>
    </form>
    <form action="/cart" method="get">
        <button type="submit" class="btn btn-primary">Cart</button>
    </form>

    <h2>Cart</h2>
    <table border="1">
        <tr>
            <th>BookId</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone number</th>
        </tr>
        <tr th:each="cart : ${carts}">
            <td th:text="${cart.bookId}"></td>
            <td th:text="${cart.name}"></td>
            <td th:text="${cart.address}"></td>
            <td th:text="${cart.phoneNumber}"></td>
        </tr>
    </table>
</body>
</html>
