<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BookshopApplication</title>
</head>
<body>
    <h1>Welcome to cart!!!</h1>
    <h2>By Kacper Śniadek</h2>

    <table border="1">
        <tr th:each="cartItem : ${cartItems}">
            <td th:text="${cartItem.bookTitle}"></td>
            <td th:text="${cartItem.bookAuthor}"></td>
            <td th:text="${cartItem.bookYear}"></td>
            <td th:text="${cartItem.bookPrice}"></td>
        </tr>
    </table>

    <form action="/" method="get">
        <button type="submit" class="btn btn-primary">Books</button>
    </form>

</body>
</html>