<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BookshopApplication</title>
</head>
<body>
    <h1>Welcome to Bookshop!!!</h1>
    <h2>By Kacper Śniadek</h2>

    <h1>Books</h1>
    <table border="1">
        <tr>
            <th>Tittle</th>
            <th>Author</th>
            <th>Year</th>
            <th>Price</th>
            <th>Add to cart</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.year}"></td>
            <td th:text="${book.price}"></td>
            <td>
                <form th:action="@{/add-to-cart}" method="post">
                    <input type="hidden" name="bookId" th:value="${book.id}" />
                    <button type="submit">Add to cart</button>
                </form>
            </td>
        </tr>
    </table>

    <form action="/cart" method="get">
        <button type="submit" class="btn btn-primary">Cart</button>
    </form>

</body>
</html>
