<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BookshopApplication</title>
</head>
<body>
    <h1>Welcome to Bookshop!!!</h1>
    <h2>By Kacper Śniadek</h2>

    <form action="/" method="get">
        <button type="submit" class="btn btn-primary">Books</button>
    </form>

    <h2>Books</h2>
    <table border="1">
        <tr>
            <th>Tittle</th>
            <th>Price</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.price}"></td>
        </tr>
    </table>
</body>
</html>
